@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
      0deg,
      rgba(52, 73, 94, 0.95),
      rgba(52, 73, 94, 0.95)
    ),
    url("../img/bg.jpg");
  background-repeat: repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

p {
  padding: 8px 0;
  font-size: .95rem;
}

a {
  color: #ecf0f1;
}

button {
  padding: 8px 16px;
  min-width: 80px;
  margin: 8px 0;
  border: none;
  border-radius: 3px;
  background-color: #2980b9;
  cursor: pointer;
  color: #ecf0f1;
  transition: all 0.3s;
}

button:hover {
  background: #3498db;
}

input, select {
  border-radius: 0;
  padding: 8px;
  transition: all 0.2s;
  border: thin solid rgba(189, 195, 199, .75);
}

input:focus, select:focus {
  box-shadow: 0 0 3px rgb(52, 152, 219);
  outline: none;
}

.grid {
  display: grid;
  border-radius: 10px;
  overflow: hidden;
  width: 850px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "left right";
  margin: auto;
  gap: 0;
}

.grid__left, .grid__right {
  padding: 2.25rem;
}

.grid__left {
  grid-area: left;
  background-color: #2c3e50;
  color: #ecf0f1;
}

.grid__left h1{
  text-transform: uppercase;
  font-weight: 700;
}

.grid__left p{
  font-weight: 200;
}

.grid__right {
  background-color: rgba(255, 255, 255, .9);
  grid-area: right;
}

.form {
  margin: auto;
  width: 300px;
}

.form button {
  margin: 10px 0;
  width: 100%;
  text-transform: uppercase;
}

.form__group {
  display: flex;
  flex-direction: column;
  padding: 5px 0;
}

.form__group input {
  text-transform: uppercase;
}

.form__group label {
  padding: 3px 0;
  font-size: .75rem;
  text-transform: uppercase;
}

.modal {
  display: none;
  transition: all .4s;
}

.modal[data-show='true'] {
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, .5);
  backdrop-filter: blur(1px) contrast(1);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal__dialog {
  position: relative;
  overflow: hidden;
  background: #fff;
  width: 450px;
  min-height: 200px;
  border-radius: 10px;
  padding: 16px;
  animation: slideDown 300ms ease-in;
}

.modal__dialog header {
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
}

.modal__dialog main {
  padding: 8px 0;
  color: #495253;
}

.modal__dialog footer {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.modal__close {
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
}

@keyframes slideDown {
  from {
    transform: translateY(-25%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

#open{ /* TEMP BUTTON DELETE AFTER TESTING MODAL */
  background: transparent;
  color: white;
  border: 1px solid white;
  width: 100px;
  padding: .5rem;
  margin-top: 2rem;
  cursor: pointer;
}